*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 100%;
    background-color: #012146;
}

.container-grid{
    max-width: 1250px;
    height: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:260px 620px 260px 240px;
    grid-template-rows: repeat(1, 100px);
    padding-top: 20px;
}

.nav-ul{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 60px;
}

.nav-ul a{
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.nav-phone{
    margin-left: 51px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.nav-phone img{
    width: 24px;
    height: 24px;
}

.nav_i{
    margin-left: 37px;
}

.fa-viber{
    font-size: 24px;
    color: #8D7CFF;
}

.fa-whatsapp{
    color: #60D66A;
    font-size: 25px;
}

.nav_i .fa-telegram-plane{
    border: 1.8px solid #37AEE2;
    color: #37AEE2;
    border-radius: 50%;
    font-size: 20px;
}

main{
    background-color: #EFF7FC;
    height: 2500px;
}

.grid-main{
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 650px);
}

.item-2 img{
    position: relative;
    border-radius: 10px;
}

.item-2 .fa-angle-left{
    position: relative;
    font-size: 30px;
    color: #205694;
    padding: 14px 22px;
    background: white;
    border-radius: 50px;
    bottom: 220px;
    left: 20px;
}

.item-2 .fa-angle-right{
    position: relative;
    font-size: 30px;
    color: #205694;
    padding: 14px 22px;
    background: white;
    border-radius: 50px;
    bottom: 220px;
    left: 480px;
}

.item-3 img{
    position: relative;
    bottom: 55px;
    border-radius: 10px;
    padding: 0 1.7px 0 0;
}

.grid-item-2{
    width: 620px;
    height: 456px;
    background: white;
    border-radius: 10px;
   
}

.grid-item-2 h1{
    text-align: start;
    font-size: 40px;
    color: #205694;
    padding: 44px 0 22px 50px;
}

.item{
    display: flex;
    justify-content: space-between;
    margin: 30px 60px 0px 50px;
}

.item-a{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
}

.item-a h6{
    font-size: 15px;
    padding-left: 8px;
}

.item-a b{
    color: #205694;
}

.item-line{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 50px 0 0;
}

.item-btn a{
    position: relative;
    display: block;
    width: 260px;
    height: 56px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, #FFC42C, #FFC42C);
    border-radius: 10px;
    padding-top: 19px;
    color: black;
}

.item-btn img{
    position: relative;
    background: white;
    border-radius: 50px;
    bottom: 40px;
    left: 210px;
    font-weight: 500;
}

.item_text h2{
    font-size: 28px;
    color: #F8B405;
}

.item_text p{
    font-size: 15px;
    opacity: 40%;
}

.main_text{
    font-size: 11px;
    display: block;
    width: 105px;
    height: 21px;
    transform: rotate(-90deg);
    background: #F8B405;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding-top: 4px;
    margin-left: 1450px;
}

.fa-angle-up{
    position: relative;
    font-size: 30px;
    color: #205694;
    padding: 14px 22px;
    background: white;
    border-radius: 50px;
    right: 800px;
    bottom: 15px;
}

.text_about{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.main-up-h2{
    font-size: 32px;
    color: #205694;
    margin-left: 120px;
}

.text_item_a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 110px;
    color: #205694;
}

.text_item_a p{
    font-size: 20px;
}

.text_item_a i{
    font-size: 19px;
    margin-left: 14px;
}

.grid-align{
    max-width: 1270px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 430px);
    grid-template-rows: 100px;
}

.grid-align-1 img{
    border-radius: 10px 10px 0 0;
}

.grid-align-1{
    width: 420px;
    height: 433px;
    border-radius: 10px;
    text-align: start;
    background: white;
}

.grid-align-h3{
    font-size: 20px;
    color: #205694;
    margin:12px 0 12px 24px;
}

.grid-align-1 p{
    font-size: 15px;
    width: 315px;
    height: 51px;
    margin-left: 24px;
    color: #A9AAAE;
}

.grid-align-1 b{
    color: #205694;
    font-weight: 900;
}

.grid-align-3{
    color: #F8B405;
    margin: 20px 0 0 24px;
}

.main_about{
    width: 1280px;
    height: 468px;
    background: white;
    border-radius: 10px;
    margin: 450px auto 72px;
}

.main_about h1{
    font-size: 32px;
    color: #205694;
    text-align: center;
    padding-top: 50px;
}

.main_form{
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 155px 78px;
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(3, 67px);
}

.form-1{
    grid-column: 1/2;
    grid-row: 1;
}

.form-2{
    grid-column: 3/4;
    grid-row: 1;
}

.form-3{
    grid-column: 1;
    grid-row: 2;
    width: 232px;
    height: 56px;
}

.form-4{
    position: relative;
    grid-column: 2;
    grid-row: 2;
}

.form-5{
    grid-column:3 ;
    grid-row: 2;
    width: 232px;
    height: 56px;
}

.form-6{
    position: relative;
    grid-column: 4;
    grid-row: 2;
    width: 238px;
    height: 56px;
    right: 3px;
}

.form-7{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    grid-column: span 2;
    grid-row: 3;
}

.form-8{
    grid-column: 3/4;
    grid-row: 3;
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.form{
    grid-column: 4;
    grid-row: 2;
}

.type{
    width: 480px;
    height: 56px;
    position: relative;
}

.type-1{
    position: relative;
    width: 238px;
    height: 56px;
    right: 3px;
}

.fa-calendar{
    position: relative;
    bottom: 38px;
    left: 205px;
    color: #205694;
}

.fa-caret-down{
    position: relative;
    font-size: 20px;
    bottom: 38px;
    left: 450px;
    color: #205694;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.form-7 h6{
    font-size: 15px;
    margin-left: 16px;
}

.form-8 p{
    font-size: 15px;
    margin-left: 12px;
    opacity: 60%;
}

.content{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 58px;
    left: 80px;
}

.btn{
    display: block;
    width: 400px;
    height: 56px;
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
    background:#FFC42C ; 
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.content img{
    position: relative;
    bottom: 40px;
    left: 30px;
}

.text_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid_about{
    max-width: 1400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 65px 430px 430px 430px 65px;
    grid-template-rows: repeat(1, 100px);
}

.fa-chevron-left{
    font-size: 22px;
    color: #205694;
    background: #D4E3EC; 
    padding: 11px 15px;
    border-radius: 500px; 
    width: 44px;
    height: 44px;
    margin-top: 230px;
}

.fa-chevron-right{
    font-size: 22px;
    color: #205694;
    background: #D4E3EC; 
    padding: 11px 17px;
    border-radius: 500px; 
    width: 44px;
    height: 44px;
    margin-top: 230px;
}

.grid_about_1{
    width: 420px;
    height: 525px;
    border-radius: 10px;
    background: white;
}

.grid_about_1 img{
    border-radius: 10px 10px 0 0;
}

.grid_about_1 h4{
    font-size: 20px;
    color: #205694;
    margin: 21px 0 21px 24px;
}

.grid-iconca-about{
    display: flex;
    justify-content: space-evenly;
    margin: 16px 30px 20px 0;
}

.iconca_about_1{
    display: flex;
    justify-content: center;
    color: #A9AAAE;
}

.iconca_about_1 img{
    width: 20px;
    height: 18px;
}

.iconca_about_1 i{
    font-size: 20px;
}

.iconca_about_1 p{
    font-size: 15px;
    margin:3px 0 15px 8px; 
}

.grid_about_1 hr{
    border: 1px solid #A9AAAE;
    background: #A9AAAE;
    width: 372px;
    margin: auto;
}

.grid_about_1 b{
    font-size: 20px;
    color: #F8B405;
    margin-right: 15px;
}

.grid_about_p{
    font-size: 15px;
    color: #A9AAAE;
    margin: 23px 25px;
}

.grid_about_btn{
    display: flex;
    justify-content: center;
}

.grid_about_btn a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: 180px;
    height: 48px;
    border-radius: 6px;
    text-align: center;
    padding-top: 16px;
}

.about-btn-a{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%),
linear-gradient(0deg, #FFC42C, #FFC42C);
}

.about-btn-b{
    border: 2px solid #FFC42C;
    margin-left: 11px;
}

footer{
    height: 160px;
    background: #012146;
    max-width: 100%;
}

.footer-grid{
    max-width:1250px ;
    margin: 0px auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns:352px  309px 283px 180px 232px ;
    color: white;
    text-align: start;
}

.footer-grid p{
    font-size: 14px;
    padding-top: 6px;
}

.footer-grid h4{
    font-size: 16px;
    padding-top: 11px;
}

.fa-vk{
    border: 1.8px solid #4E6BA4;
    color: #4E6BA4;
    font-size: 20px;
    border-radius: 50%;
}

.placeholder{
    /* padding-left: 24px; */
}